
<mat-toolbar color="primary">
  <span class="fs-3 fw-bold">User Dashboard</span>
  <span class="example-spacer"></span>
  <mat-icon class="me-2 user">person</mat-icon><h3 class="me-5">{{loggedInUser.name}}</h3>
  <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon" class="me-3" routerLink="/register">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon logout" aria-label="Example icon-button with heart icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-5">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

       <!-- Id Column -->
       <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id No. </th>
        <td mat-cell *matCellDef="let element; index as i"> {{element.id}} </td>
      </ng-container>

      <!-- userName Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> UserName </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <!-- password Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element; index as i">
          <mat-icon class="icon" [routerLink]="['/register']" [queryParams]="{'id' : element.id}">edit</mat-icon>
          <mat-icon class="icon mx-1" (click)="deleteData(element, i)">delete</mat-icon>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


</div>


